<%= form_for(@list) do |f| %>
  <% if @list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
      <% @list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
	<% if not params[:owner_id] %>
  <div class="field">
    <%= f.label :owner_id %><br />
    <%= f.text_field :owner_id %>
  </div>
  <% else %>
		<div class="field">
	    <%= f.hidden_field :owner_id, {:value => params[:owner_id]} %>
		</div>
	<% end %>
	<% if not params[:parentlist_id] %>
  	<div class="field">
  	  <%= f.label :parentlist_id %><br />
  	  <%= f.text_field :parentlist_id %>
  	</div>
  <% else %>
  	<div class="field">
      	<%= f.hidden_field :list_id, {:value => params[:list_id]} %>
  	</div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
