<ul class="tasklist" id="list_<%= params[:cssid] || @cssid %>" data-listid="<%= params[:cssid] || @cssid %>">
<% @list.tasks.each do |t|%>
		<% if t.completed? %>
		<li class="task" id="<%= t.id %>">
		    <%= check_box_tag "checkbox_#{t.id}", true, checked = false, {:class => 'checker'} %>			
		<% else %>
		<li class="task finished" id="<%= t.id %>">
			<%= check_box_tag "checkbox_#{t.id}", true, checked = true, {:class => 'checker'} %>
		<% end %>
		<% if t.has_children? %>
			<span class="listExpander"></span>
		<% end %>
		<%= link_to t.name , t %>
	</li>
<% end %>
</ul>