<script>
  owner_id = <%= @list.owner_id %>;
</script>
  <%= javascript_include_tag "inline_effects.js" %>
  <%= javascript_include_tag "jquery-ui-1.8.15.min.js" %>
<% content_for :javascript_includes do %>
  <%= javascript_include_tag "finish.js" %>
<% end %>
<p id="notice"><%= notice %></p>

<div id="worked"></div>

<ul id="breadcrumbs">
<li><%= link_to @list.owner.name, @list.owner %></li>
<% @list.lineage.each do |p| %>
	<li><%= link_to p.name, p %></li>
<% end %>
</ul>
<h1><%= @list.name %></h1>
<%= @list.description %>

<p>
  	<div id="createPrompt" class="ghost"><input type="text" placeholder="Create new task"></input></div>

		<%= render 'lists/list', :@list => @list, :params => {:cssid => @list.id} %>
</p>