<% content_for :javascript_includes do %>
  <%= javascript_include_tag "finish.js" %>
<% end %>
<p id="notice"><%= notice %></p>

<div id="worked"></div>

<p>
  <b>Name:</b>
  <%= @list.name %>
</p>

<p>
  <b>Owner:</b>
  <%= @list.owner_id %>
</p>

<p>
	<b>Tasks</b>
	<ul>
	<% @list.tasks.each do |t|%>
		<li>
			<% if t.status == "unfinished" %>
			    <%= check_box_tag t.id, true, checked = false, {:class => 'task'} %>
			<% else %>
				<%= check_box_tag t.id, true, checked = true, {:class => 'task'} %>
			<% end %>
			<%= link_to t.description , t %>
		</li>
	<% end %>
	</ul>
</p>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
<div class="overlay_trigger" rel="#new_task">Create a new task</div>
<div class="overlay" id="new_task">
	Create a new task here.
	<%= render :partial => "tasks/form", :locals => {:@task => Task.new, :params=> {:list_id => @list.id}}  %>
</div>
<script>
$("div[rel]").overlay();
</script>