<% content_for :javascript_on_page do %>
  owner_id = <%= @list.owner_id %>;
<% end %>
<% content_for :javascript_includes do %>
  <%= javascript_include_tag "inline_effects.js" %>
  <%= javascript_include_tag "jquery-ui-1.8.15.min.js" %>
  <%= javascript_include_tag "finish.js" %>
<% end %>

<ul class="breadcrumb">
  <li><%= link_to @list.owner.name, @list.owner %> <span class="divider">/</span></li>
  <% @list.lineage.each do |p| %>
  	<li><%= link_to p.name, p %> <span class="divider">/</span> </li>
  <% end %>
</ul>
<%= @list.description %>

<div id=<%= @list.id %>>

<h1 class="task"><a><%= @list.name %></a> <button type="button" id="expandAll" class="btn small">Expand All</button>  <button type="button" id="collapseAll" class="btn small">Collapse All</button></h1>

  	<div id="createPrompt" class="ghost"><input type="text" placeholder="Create new task"></input></div>
  	

		<%= render 'lists/list', :@list => @list, :params => {:cssid => @list.id} %>
</div>