<script>
  owner_id = <%= @list.owner_id %>;
  parentlist_id = <%= @list.id %>;
</script>
  <%= javascript_include_tag "inline_effects.js" %>
  <%= javascript_include_tag "jquery-ui-1.8.15.min.js" %>
<% content_for :javascript_includes do %>
  <%= javascript_include_tag "finish.js" %>
<% end %>
<p id="notice"><%= notice %></p>

<div id="worked"></div>

<ul id="breadcrumbs">
<li><%= link_to @list.owner.name, @list.owner %></li>
<% @list.lineage.each do |p| %>
	<li><%= link_to p.name, p %></li>
<% end %>
</ul>
<h1><%= @list.name %></h1>
<%= @list.description %>

<p>
	<ul id="tasklist">
	<li id="createPrompt" class="ghost"><input type="text" placeholder="Create new task"></input></li>
	<% @list.tasks.each do |t|%>
			<% if t.completed? %>
			<li class="task">
			    <%= check_box_tag t.id, true, checked = false, {:class => 'checker'} %>			
			<% else %>
			<li class="task finished">
				<%= check_box_tag t.id, true, checked = true, {:class => 'checker'} %>
			<% end %>
			<% if t.has_children? %>
				ยง
			<% end %>
			<%= link_to t.name , t %>
		</li>
	<% end %>
	</ul>
</p>