<script>
  owner_id = <%= @list.owner_id %>;
  parentlist_id = <%= @list.id %>;
</script>
  <%= javascript_include_tag "inline_effects.js" %>
<% content_for :javascript_includes do %>
  <%= javascript_include_tag "finish.js" %>
<% end %>
<p id="notice"><%= notice %></p>

<div id="worked"></div>


<h1><%= @list.name %></h1>
<%= @list.description %>
<br />
<ul>
<li><%= link_to @list.owner.name, @list.owner %></li>
<% @list.lineage.each do |p| %>
	<li><%= link_to p.name, p %></li>
<% end %>
</ul>
<p>
	<ul>
	<li id="createPrompt" class="ghost">Create new task</li>
	<% @list.tasks.reverse! %>
	<% @list.tasks.each do |t|%>
			<% if t.completed? %>
			<li class="task">
			    <%= check_box_tag t.id, true, checked = false, {:class => 'checker'} %>			
			<% else %>
			<li class="task finished">
				<%= check_box_tag t.id, true, checked = true, {:class => 'checker'} %>
			<% end %>
			<%= link_to t.name , t %>
		</li>
	<% end %>
	</ul>
</p>

<div class="overlay_trigger" rel="#new_task">Create a new task</div>
<div class="overlay" id="new_task">
	Create a new task here.
	<%= render 'lists/form', :@task => List.new, :params => {:list_id => @list.id}  %>
</div>
<script>
$("div[rel]").overlay();
</script>