<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @owner.name %>
</p>

<p>
	<p><%= link_to "New List", :controller => "lists", :action => "new", :owner_id => @owner.id %></p>
  <b>Lists:</b>
  <% @owner.lists.each do |l| %>
	<br />
	<%= link_to l.name, l %>
	(<%= l.tasks.length - l.tasks.where(:status => "Finished").length %>) <%= l.tasks.length%>
  <% end %>
</p>


<%= link_to 'Edit', edit_owner_path(@owner) %> |
<%= link_to 'Back', owners_path %>
