<h1>Details for <%= @owner.name %></h1>
<p id="notice"><%= notice %></p>
<div id="lists">
	<h2>Lists:</h2>
	<div id="new_list"><%= link_to "New List", :controller => "lists", :action => "new", :owner_id => @owner.id %></div>
  <% @owner.lists.each do |l| %>
	<div class="name">
	<%= link_to l.name, l %>
	</div>
	<div class="numbers"><span class="unfinished">(<%= l.tasks.length - l.tasks.where(:status => "Finished").length %>)</span> <span class="finished"><%= l.tasks.length%></span></div>
  <% end %>
</div>

<p>
<%= link_to 'Edit', edit_owner_path(@owner) %> |
<%= link_to 'Back', owners_path %>
</p>
<div class="overlay_trigger" rel="#new_task">Create a new list</div>
<div class="overlay" id="new_task">
	Create a new task here.
	<%= render :partial => "lists/form", :locals => {:@list => List.new, :params=> {:owner_id => @owner.id}}  %>
</div>
<script>
$("div[rel]").overlay();
</script>