<!DOCTYPE html>
<html>
<head>
  <title>Listaculous</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag "application" %>
	<%= yield :javascript_includes %>
  <%= csrf_meta_tag %>
<link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
  <script>
    <%= yield :javascript_on_page %>
  </script>
</head>
<body>
<div class="container">
    <div class="topbar" >
      <div class="topbar-inner">
        <div class="container">
        <%= link_to "Listaculous", root_url, :class => "brand"%>
        <div id="signin" class="pull-right">
        <ul>
          <% if current_user  %>
          	<li><p>Welcome <%= current_user.name %></p></li>
          	<li><%= link_to "Sign Out", signout_path %></li>
          <% else  %>
          	<li><%= link_to "Sign in with Twitter", "/auth/twitter" %></li>
          <% end %>
          </ul>
          </div>
        </div>
      </div>
    </div>
    <% if notice %>
      <p id="notice" class="alert-message success" data-alert="alert"><%= notice %><a class="close" href="#">×</a></p>
    <% end %>
<%= yield %>
</div>
<script>
$(function (){
});
</script>
</body>
</html>
