<!DOCTYPE html>
<html>
<head>
  <title>Tascit</title>
  <%= stylesheet_link_tag :all %>
	<%= javascript_include_tag  "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" %>
	<%= javascript_include_tag  "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js" %>
	<%= javascript_include_tag "jquery-rails.js" %>
	<%= javascript_include_tag "jquery.tools.min.js" %>
	<%= javascript_include_tag "application" %>
	<%= yield :javascript_includes %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="user_nav">
<% if current_user  %>
	Welcome <%= current_user.name %>
	<%= link_to "Sign Out", signout_path %>
<% else  %>
	<%= link_to "Sign in with Twitter", "/auth/twitter" %>
<% end %>
<%= yield %>

</body>
</html>
